button {
  padding: 8px 4px;
  font-size: 0.7em;
  border: 0px;
  border-radius: 8px;
  color: white;
  width: 120px;
  background-color: #04523a;
}

@media (min-width: 374px) {
  button {
    padding: 10px 6px;
    width: 140px;
  }
}

@media (min-width: 1024px) {
  button {
    padding: 14px 10px;
    font-size: 1.2em;
    width: 300px;
  }
}

@media (min-width: 1439px) {
  button {
    font-size: 1.2em;
    width: 290px;
    padding: 16px 20px;
  }
}

@media (min-width: 2559px) {
  button {
    width: 550px;
    padding: 30px 24px;
  }
}
